python/venv
python/__pycache__
python/*.pyc
python/config.txt
fortran/*.o
fortran/*.mod
fortran/mr_io_example_spatial
fortran/mr_io_example_space_time
fortran/mr_io_test_reader
fortran/mr_io_test_reader_space_time
fortran/mr_io_test_parallel_reader
fortran/mr_io_test_reader_writer
fortran/mr_io_test_reader_writer_space_time
fortran/mr_io_test_parallel_reader_writer
fortran/mr_io_test_parallel_reader_space_time
fortran/mr_io_test_parallel_reader_writer_space_time
fortran/mr_io_test_reader_hpc_predict
fortran/mr_io_test_reader_writer_hpc_predict
fortran/*.h5
*.h5
.project
.pydevproject
fortran/.cproject
fortran/.project


