python/venv
python/__pycache__
python/*.pyc
python/config.txt
test/__pycache__
fortran/*.o
fortran/*.mod
fortran/mr_io_example_spatial
fortran/mr_io_example_space_time
fortran/mr_io_test_reader
fortran/mr_io_test_reader_space_time
fortran/mr_io_test_parallel_reader
fortran/mr_io_test_reader_writer
fortran/mr_io_test_reader_writer_space_time
fortran/mr_io_test_parallel_reader_writer
fortran/mr_io_test_parallel_reader_space_time
fortran/mr_io_test_parallel_reader_writer_space_time
fortran/mr_io_test_reader_flow
fortran/mr_io_test_reader_writer_flow
fortran/mr_io_test_parallel_reader_flow
fortran/mr_io_test_parallel_reader_flow_padded
fortran/mr_io_test_parallel_reader_writer_flow
fortran/mr_io_test_parallel_reader_writer_flow_padded
fortran/mr_io_test_parallel_reader_segmented_flow
fortran/mr_io_test_parallel_reader_writer_segmented_flow
fortran/mr_io_test_reader_segmented_flow
fortran/mr_io_test_reader_writer_segmented_flow
fortran/mr_io_test_impact_input
fortran/*.h5
*.h5
.project
.pydevproject
fortran/.cproject
fortran/.project
build
install
mri_datasource/bern_data_experiments_source/*
mri_datasource/mri_reconstruction_example_source/*
